{% extends "base.html" %}

{% block title %}Панель учителя{% endblock %}


{%  block content %}
    <h3>{{ class }} {{ letter }}</h3>
<table class="table">
    <tr>
        <th>№</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <td>Выполненные задания</td>
    </tr>
    {% if error %}
        <tr>
        <td>{{ error }}</td>
        </tr>
    {% endif %}
    {% for i in all %}
    <tr>
        <td>{{ i.0 }}</td>
        <td>{{ i.1.name }}</td>
        <td>{{ i.1.surname}}</td>
        <td><a href="/stats?id={{ i.1.id }}">Выполненные задания</a></td><tr>
    {% endfor %}
</table>
{% endblock %}