{% extends "base.html" %}

{% block title %}АСПЗП{% endblock %}
{% block scripts %}
{% load static %}
        <script type="text/javascript" src="{% static 'asp/js/student.js' %}"></script>
{% endblock %}
{% csrf_token %}
{% block content %}
            <div id="themes">
                <style>
                    #themes a {color: blue;}
                    #themes a:hover {color: red;}
                </style>
                <h4 style="margin-left: 40px;">Темы: </h4>
                <ul type="none">
                    {% for i in themes %}
                    <li><a href="tasktheme?id={{ i.id }}">{{ i.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
{% endblock %}