{% extends "base.html" %}
{% block scripts %}
{% load static %}
        <script type="text/javascript" src="{% static 'asp/js/index.js' %}"></script>
{% endblock %}
{% block title %}Панель учителя{% endblock %}

{%  block content %}
    <div class="col">
            <div id="filter">{% include 'upBar.html' %}</div>
            <div id="className"></div>
            <div id="studentTable"></div>
            <div id="tasklist"></div>
            <div id="setcon"></div>
        </div>
{% endblock %}