{% extends "base.html" %}
{% block scripts %}
{% load static %}
        <script type="text/javascript" src="{% static 'asp/js/index.js' %}"></script>
{% endblock %}
{% block title %}Панель учителя{% endblock %}
{% block leftmenu %}
            <h3 id="classes">Классы</h3>
            <select id="num">
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
            </select>
            <select id="letter">
                <option value="А">А</option>
                <option value="Б">Б</option>
                <option value="В">В</option>
                <option value="Г">Г</option>
                <option value="Д">Д</option>
                <option value="Е">Е</option>
            </select><br>
            <a id="apply">Применить</a>
            <h3 id="tasks">Задания</h3>
            <h3 id="settings">Настройки</h3>
{% endblock %}
{%  block content %}
            <div id="filter" style="margin-left: 52px;">{% include 'upBar.html' %}</div>
            <div id="className"></div>
            <div id="studentTable"></div>
            <div id="tasklist"></div>
            <div id="setcon"></div>
{% endblock %}